---
import Layout from '../layouts/aboutLayout.astro';
import { Image } from 'astro:assets';
import portraitPhoto from '../images/profile_pic_copy.jpg';
import slugPhoto from '../images/slug1.jpg';

---

<Layout title="Home">
	<main>

		<!-- About -->
		<section>

			<div>
				<h2 class="center-text">About me</h2>
				<Image class="center-img" src={portraitPhoto} alt="Portrait photo of me, the website author, Luke Moore." />
			</div>

			<div class="justForFlex">
				<p>
					I’m a creative developer pursuing my Bachelor's in design at CSU Monterey Bay. 
					I focus on web development with a specialization in graphics in the browser.
					My skill set and education makes me a resourceful individual contributor who blends creativity 
					with logical problem-solving to make innovative and user-centric digital experiences.
				</p>
	
				<p>
					I created my first website in 2019 and have stuck with it since. I'm passionate about novel ways
					of expressing typography on the web and I care deeply behind the accessibility principles of the a11y project.
					When I'm not photosynthesizing in the bright lumens of my laptop screen, I like to climb rocks, and stare at plants.
				</p>
			</div>

		</section>

		<!-- Skills -->
		<section class="skills">

			<div>
				<h3 class="skill-title">Design Skills</h3>
				<ul>
					<li>Figma</li>
					<li>Adobe Illustrator</li>
					<li>User Experience</li>
					<li>Web design</li>
					<li>Interface design</li>
					<li>Typography</li>
				</ul>
			</div>

			<div>
				<h3 class="skill-title">Development Tools</h3>
				<ul>
					<li>JavaScript</li>
					<li>Three.js</li>
					<li>WebGL</li>
					<li>Node.js</li>
					<li>HTML & CSS</li>
					<li>SvelteKit</li>
				</ul>
			</div>

		</section>

		<!-- Contact -->
		<section id="contact">

			<div id="contact-slug">
				<h2>Contact</h2>
				<Image id="slug-photo" src={slugPhoto} alt="A banana slug eats a mushroom from the stem up.">
			</div>

			<div id="contact-info">
				<h3>Let's work together!</h3>
				<p>Drop me an email if you have an exciting project you would like to discuss, you're hiring for a position that would be a good fit, or if you just want to chat!</p>
				<p><b>lumoore@csumb.edu</b></p>
			</div>

			<div id="icon-container">
				<a href="https://www.linkedin.com/in/lukemoore-profile/" target=”_blank”>
					<svg class="icon" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
						<g stroke="none" stroke-width="1" fill-rule="evenodd">
							<path d="M31.6326887,31.6326887 C24.3962735,38.8691038 12.6637265,38.8691038 5.42731134,31.6326887 C-1.80910378,24.3962735 -1.80910378,12.6637265 5.42731134,5.42731134 C12.6637265,-1.80910378 24.3962735,-1.80910378 31.6326887,5.42731134 C38.8691038,12.6637265 38.8691038,24.3962735 31.6326887,31.6326887 Z M26,20.5833889 C26,17.6818264 24.5195284,16.3316675 22.5446658,16.3317015 C20.9506623,16.3317015 20.2385165,17.2498723 19.8397552,17.8926088 L19.8397552,17.9231293 L19.8200304,17.9231293 C19.825759,17.9134213 19.8336685,17.9026233 19.8397552,17.8926088 L19.8397552,16.5536226 L16.8383858,16.5536226 C16.878812,17.4404553 16.8383858,26 16.8383858,26 L19.8400482,26 L19.8400482,20.7245464 C19.8400482,20.4418908 19.860424,20.1608362 19.9395839,19.9589102 C20.156655,19.3940759 20.6500696,18.8101664 21.4791975,18.8101664 C22.5653345,18.8101664 22.9993467,19.6765952 22.9993467,20.9461608 L22.9993467,26 L26,26 L26,20.5833889 Z M13.6985192,12 C12.6716545,12 12,12.7048676 12,13.6317925 C12,14.5385181 12.6522225,15.2647773 13.6586789,15.2647773 L13.6787293,15.2647773 C14.7254817,15.2647773 15.3764673,14.5386543 15.3764673,13.6317925 C15.3567425,12.7048676 14.7254817,12 13.6985192,12 Z M12.1782724,26 L15.1787955,26 L15.1787955,16.5536226 L12.1782724,16.5536226 L12.1782724,26 Z" id="Combined-Shape"></path>
						</g>
					</svg>
				</a>
				<a href="https://github.com/Lukem20" target=”_blank”>
					<svg class="icon" xmlns="http://www.w3.org/2000/svg" 
						viewBox="0 0 156 156"><defs></defs><title>github</title><path d="M133.15,133.15a77.64,77.64,0,0,1-33.08,19.68A3.92,3.92,0,0,1,99,150V129.35c0-7.06-2.52-11.73-5.17-14,16.77-1.89,34.56-8.33,34.56-37.34A28.84,28.84,0,0,0,120.6,57.7c.76-2,3.4-9.71-.76-20.06,0,0-6.31-2-20.81,7.7a72.32,72.32,0,0,0-37.85,0c-14.5-9.71-20.81-7.7-20.81-7.7-4.16,10.35-1.51,18-.76,20.06A29.42,29.42,0,0,0,31.79,78c0,29,17.66,35.45,34.57,37.34-2.27,1.89-4.17,5.3-4.92,10.09-4.29,2-15.27,5.3-22-6.18,0,0-4-7.32-11.61-7.82,0,0-7.44-.13-.5,4.54,0,0,4.92,2.4,8.32,11.1,0,0,4.42,13.5,25.48,9v14a3.59,3.59,0,0,1-2.31,3.59,78,78,0,1,1,74.28-20.48Z"></path>
					</svg>
				</a>
				<a href="https://codepen.io/lukem20-the-bashful" target=”_blank”>
					<svg class="icon" viewBox="0 0 474 474" xmlns="http://www.w3.org/2000/svg" >
						<g stroke="none" stroke-width="1" fill-rule="evenodd">
							<g transform="translate(-14.000000, -11.000000)">
								<g transform="translate(14.000000, 11.000000)">
									<polygon id="Fill-1" points="115.9512 215.668 115.9512 257.739 147.4012 236.704"></polygon>
									<polygon id="Fill-2" points="224.5024 185.1304 224.5024 126.5024 126.0154 192.1554 170.0094 221.5854"></polygon>
									<polygon id="Fill-3" points="348.1309 192.1553 249.6429 126.5023 249.6429 185.1303 304.1399 221.5853"></polygon>
									<polygon id="Fill-4" points="126.0151 281.252 224.5021 346.905 224.5021 288.276 170.0101 251.83"></polygon>
									<polygon id="Fill-5" points="249.6426 288.2764 249.6426 346.9054 348.1306 281.2524 304.1396 251.8304"></polygon>
									<polygon id="Fill-6" points="237.0713 206.9663 192.6143 236.7033 237.0713 266.4413 281.5313 236.7033"></polygon>
									<g >
										<path d="M383.3311,281.2676 C383.3311,281.8216 383.2921,282.3676 383.2191,282.9136 C383.1921,283.0906 383.1491,283.2756 383.1191,283.4526 C383.0541,283.8066 382.9921,284.1606 382.8991,284.5066 C382.8461,284.7146 382.7691,284.9136 382.7031,285.1146 C382.6031,285.4216 382.5041,285.7306 382.3811,286.0386 C382.2961,286.2456 382.1911,286.4456 382.1001,286.6456 C381.9651,286.9306 381.8261,287.2066 381.6731,287.4846 C381.5601,287.6766 381.4341,287.8696 381.3141,288.0616 C381.1451,288.3236 380.9731,288.5776 380.7841,288.8236 C380.6451,289.0156 380.5031,289.1926 380.3501,289.3696 C380.1531,289.5996 379.9451,289.8306 379.7261,290.0456 C379.5601,290.2156 379.3981,290.3846 379.2261,290.5386 C378.9991,290.7466 378.7571,290.9466 378.5111,291.1386 C378.3251,291.2856 378.1411,291.4316 377.9441,291.5696 C377.8721,291.6166 377.8071,291.6776 377.7331,291.7236 L244.0461,380.8516 C241.9341,382.2596 239.5061,382.9666 237.0711,382.9666 C234.6441,382.9666 232.2121,382.2596 230.1001,380.8516 L96.4091,291.7236 C96.3391,291.6776 96.2741,291.6166 96.2051,291.5696 C96.0081,291.4316 95.8201,291.2856 95.6351,291.1386 C95.3891,290.9466 95.1501,290.7466 94.9231,290.5386 C94.7501,290.3846 94.5851,290.2156 94.4191,290.0456 C94.2001,289.8306 93.9971,289.5996 93.7921,289.3696 C93.6461,289.1926 93.5001,289.0156 93.3621,288.8236 C93.1771,288.5776 93.0001,288.3236 92.8341,288.0616 C92.7071,287.8696 92.5881,287.6766 92.4731,287.4846 C92.3191,287.2066 92.1811,286.9306 92.0461,286.6456 C91.9501,286.4456 91.8531,286.2456 91.7651,286.0386 C91.6421,285.7306 91.5381,285.4216 91.4421,285.1146 C91.3731,284.9136 91.3041,284.7146 91.2461,284.5066 C91.1531,284.1606 91.0921,283.8066 91.0261,283.4526 C90.9961,283.2756 90.9501,283.0906 90.9261,282.9136 C90.8531,282.3676 90.8111,281.8216 90.8111,281.2676 L90.8111,192.1396 C90.8111,191.5856 90.8531,191.0396 90.9261,190.5006 C90.9501,190.3166 90.9961,190.1396 91.0261,189.9546 C91.0921,189.6006 91.1531,189.2466 91.2461,188.9006 C91.3041,188.6926 91.3731,188.4926 91.4421,188.2926 C91.5381,187.9846 91.6421,187.6776 91.7651,187.3766 C91.8531,187.1696 91.9501,186.9616 92.0461,186.7616 C92.1811,186.4766 92.3191,186.1996 92.4731,185.9306 C92.5881,185.7306 92.7071,185.5386 92.8341,185.3456 C93.0001,185.0846 93.1771,184.8306 93.3621,184.5836 C93.5001,184.3996 93.6461,184.2146 93.7921,184.0386 C93.9971,183.8076 94.2001,183.5766 94.4191,183.3606 C94.5851,183.1916 94.7501,183.0226 94.9231,182.8686 C95.1501,182.6606 95.3891,182.4606 95.6351,182.2676 C95.8201,182.1216 96.0081,181.9756 96.2051,181.8376 C96.2741,181.7906 96.3391,181.7296 96.4091,181.6836 L230.1001,92.5556 C234.3241,89.7396 239.8211,89.7396 244.0461,92.5556 L377.7331,181.6836 C377.8071,181.7296 377.8721,181.7906 377.9441,181.8376 C378.1411,181.9756 378.3251,182.1216 378.5111,182.2676 C378.7571,182.4606 378.9991,182.6606 379.2261,182.8686 C379.3981,183.0226 379.5601,183.1916 379.7261,183.3606 C379.9451,183.5766 380.1531,183.8076 380.3501,184.0386 C380.5031,184.2146 380.6451,184.3996 380.7841,184.5836 C380.9731,184.8306 381.1451,185.0846 381.3141,185.3456 C381.4341,185.5386 381.5601,185.7306 381.6731,185.9306 C381.8261,186.1996 381.9651,186.4766 382.1001,186.7616 C382.1911,186.9616 382.2961,187.1696 382.3811,187.3766 C382.5041,187.6776 382.6031,187.9846 382.7031,188.2926 C382.7691,188.4926 382.8461,188.6926 382.8991,188.9006 C382.9921,189.2466 383.0541,189.6006 383.1191,189.9546 C383.1491,190.1396 383.1921,190.3166 383.2191,190.5006 C383.2921,191.0396 383.3311,191.5856 383.3311,192.1396 L383.3311,281.2676 Z M237.0711,0.1546 C106.4341,0.1546 0.5251,106.0596 0.5251,236.7036 C0.5251,367.3486 106.4341,473.2486 237.0711,473.2486 C367.7161,473.2486 473.6201,367.3486 473.6201,236.7036 C473.6201,106.0596 367.7161,0.1546 237.0711,0.1546 Z" id="Fill-7"></path>
										<polygon points="358.1943 257.7393 358.1943 215.6683 326.7493 236.7033"></polygon>
									</g>
								</g>
							</g>
						</g>
					</svg>
				</a>
			</div>

		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		max-width: calc(100% - 2rem);
		line-height: 1.75;
	}
	
	section {
		width: 70%;
		margin: 0 auto 6em auto;
	}

	img {
		height: 60vh;
		width: 35vw;
		object-fit: cover;
		object-position: ;
		box-shadow: 0.5rem 0.5rem #f4ff5e;
	}
	.center-img {
		display: block;
		border-radius: 5px;
		margin: 1em auto 3em auto;
	}
	.center-text {
		text-align: center;
	}

	p {
        width: 42%;
    }

    b {
        letter-spacing: 0.12em;
    }

	.justForFlex {
        justify-content: space-between;
        padding-top: 1.5em;
		display: flex;
	}

	#slug-photo {
		height: 40vh;
		width: 40vh;
		object-position: 40% 50%;
		border-radius: 50%;
		box-shadow: none;
		margin-bottom: 3em;
	}

	.inline-header {
		display: inline;
	}

	h4 span {
		font-family: 'Manrope';
		font-size: 0.8rem;
		letter-spacing: 0.2rem;
	}

	.skills {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.skills div {
		width: 300px;
	}
	.skill-title {
		text-decoration: underline;
		margin-bottom: 0;
		margin-top: 3rem;
	}


	#contact {
		margin-bottom: 4em;
	}
	#contact-slug {
		text-align: center;
	}
	#contact-info {
        margin-bottom: 2em;
        width: 100%;
    }
	#contact-info p {
        width: 90%;
    }

	#icon-container {
		display: flex;
		gap: 2em;
	}
	.icon {
		height: 10vh;
		width: 10vh;
		fill: #FFFFF2;
	}
	.icon:hover {
        fill: #f4ff5e;
        transition: 0.3s ease;
    }

</style>