---
import CanvasContainer from '../components/CanvasContainer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Luke Moore">
  	<main>
		<noscript>
			You need to enable JavaScript to run this app.
		</noscript>
		<CanvasContainer />
	</main>
</Layout>

<style lang="scss">
	main {
		width: 100%;
		height: 100%;
	}
</style>
